# node
package.json
package-lock.json
# prettier
.prettierrc.json
# eslint
.eslintrc.json
# babel
babel.config.json
# Type Script
tsconfig.json
# Visual Studio Code
.vscode/settings.json
# GatsbyJS
.cache/
public/
static/
src/gatsby-types.d.ts
# Output
build
coverage
