.container {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto 1em;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
}

@media (450px >= width) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}
