@charset "UTF-8";

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /** TODO: 基準を決めたら相対にする. */
  margin-top: 0.5em;
}

.contents {
  display: flex;
  flex-direction: row;
  line-height: 1.2;
}

.creator {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: x-large;
  padding: 8px;
}

.header {
  font-weight: bold;
  font-feature-settings: 'palt' 1;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.9em;
}

.link {
  line-height: 1.6;
}

.list {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: x-large;
}

.sns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ul {
  list-style: none;
}

.year {
  font-size: x-large;
}
