@charset "UTF-8";
/** 記事で表示する際のスタイルを定義している. */

/** color scheme */
:root {
  --base-color: #fddea5;
  --primary-color: #d8b26b;
  --menu-color: #b7a481;
  --logo-color: #555555;
  --heder-color: #e5b762;
  --sub-header-color: #fed589;
  --side-bar-header-color: #ffefd2;
  --side-bar-background-color: #fffaf0;
  --font-color: #333333;
  --link-color: #3366cc;
  --visited-color: #765ac9;
}

*,
*::before,
*::marker,
*::after {
  box-sizing: inherit;
}

/** TODO: globalへ */
html {
  background-color: var(--base-color);
  box-sizing: border-box;
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-variant: normal;
  font-size: medium;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
  line-height: 1.5;
  width: 100%;
  /** TODO: 基準を決めたら相対にする. */
  padding: 1.5em;
}

a {
  outline: none;
}

a:link {
  color: var(--link-color);
  text-decoration: underline;
}

a:visited {
  color: var(--visited-color);
}

a:hover {
  text-decoration: none;
}

a:active {
  background: #02552a;
  color: #f2fffe;
}

a:focus {
  border-bottom: 1px solid;
  color: #0085f2;
}

p {
  overflow-wrap: break-word;
  word-break: break-word;
}

code {
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}
